{{{step_one_note}}}
<p class="lead"><strong>Step 1 of 4:</strong> What Items do you have to donate? (<em>Check all that apply</em>)</p>
<form action="" method="post">
	<table class="table table-striped">
		{{#each checkboxes}}
		<tr>
			<td>
				<div class="checkbox">
					<label style="font-size: 18px; font-weight: bold;">
						<input style="height: 21px;" type="checkbox" name="donor[options][{{key}}][field_value]" value="{{value}}"{{checked}} /> {{name}}
					</label>
					<span class="help-block">{{desc}}</span>
					<input type="hidden" name="donor[options][{{key}}][pickup]" value="{{pickup}}" />
				 	<input type="hidden" name="donor[options][{{key}}][skipquestions]" value="{{skip_questions}}" />
				 	<input type="hidden" name="donor[options][{{key}}][term_id]" value="{{term_id}}" />
				</div>
			</td>
		</tr>
		{{/each}}
	</table>
	<label>Brief description of items:</label>
	<textarea class="form-control" rows="4" name="donor[description]">{{description}}</textarea>
	<span class="help-block">Example: I have a couch and three boxes of household items from spring cleaning.</span>
	<p class="text-right"><button type="submit" class="btn btn-primary">Continue to Step 2</button></p>
	<input type="hidden" name="nextpage" value="{{nextpage}}" />
</form>